<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:4497/GeoService.svc/miguel"
        binding="basicHttpBinding" contract="GeoLib.Contracts.IGeoService"
        name="webEP" />
      <endpoint address="http://localhost:4497/GeoService.svc/miguel"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeoService"
        contract="ServiceReference1.IGeoService" name="BasicHttpBinding_IGeoService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2000000" />
        <binding name="BasicHttpBinding_IGeoService" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  
</configuration>
