<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="main" connectionString="Server=tcp:olgelo.database.windows.net,1433;Initial Catalog=ZipCodeData;Persist Security Info=False;User ID=sqladmin;Password=Qwerty123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <services>
      <service name="GeoLib.Services.GeoManager">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8072"/>
            <add baseAddress="http://localhost:4497"/>
          </baseAddresses>
        </host>
        <endpoint address="miguel"
                  binding="basicHttpBinding" 
                  contract="GeoLib.Contracts.IGeoService" />
        <endpoint address="MEX"
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="GeoLib.Services.GeoManager" 
             relativeAddress="GeoService.svc" 
             factory="GeoLib.WebHost.CustomHostFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2000000"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>
